<div class="margin-tb-gt-xs-4 margin-lr-gt-xs-2 padding-xs-1 bg-white margin-xs-1 padding-tb-3 padding-lr-gt-xs-2 page" md-whiteframe="5" layout="column">
    <h2 style="text-align:center">Confirm Registrations</h2>
    <form name="confirmRegistrationForm" ng-model="confirmRegistrationForm" class="margin-top-3 " layout="row" layout-align="center" layout-wrap>
        <div class="padding-gt-xs-3 padding-xs-1 rg-border" flex-gt-xs="60" flex-xs="100" layout="column">
            <h3 class="margin-bottom-1">Enter Registration Details</h3>
            <md-input-container>
                <label>Serial Id</label>
                <input type="text" name="teamId" required ng-model="crc.registration.serialId">
                <div ng-messages="confirmRegistrationForm.serialId.$error" >
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button flex-gt-xs="30" class="md-raised md-primary" md-no-ink="true" ng-click="crc.getRegistrationData($event)" required layout="row" layout-align="center center">
                    <b ng-show="!crc.registrationButtonClicked">Confirm</b>
                    <md-progress-circular ng-show="crc.registrationButtonClicked" ng-disabled="confirmRegistrationForm.$invalid" class="md-black mini" md-diameter="20px"></md-progress-circular>
                </md-button>
            </div>
        </div>
    </form>
</div>
