<div layout="row" layout-wrap layout-align="center center">
    <div flex-xs="100" flex-gt-xs="20" class="logo padding-left-2">
        <a ui-sref=".home">
            <!-- <img src="/media/logo/logo-linear.svg" alt=""/> -->
            GTU TECHFEST'17
        </a>
    </div>
    <div flex show-gt-xs>
    </div>

    <md-button flex-xs="40" class="al-border-button" aria-label="description">
        Contact Us
    </md-button>

    <md-button flex-xs="40" class="al-border-button" aria-label="description">
        Log out
    </md-button>

</div>
