<div layout="row" layout-wrap layout-align="center center">
    <md-button ng-click="flayc.openLeftSidenav()" flex-xs="15" hide-gt-xs show-xs class="md-icon-button" layout="row" layout-align="center center" aria-label="sidenav">
        <ng-md-icon icon="menu" class="title-icon" size="24"></ng-md-icon>
    </md-button>
    <div flex-xs="30" flex-gt-xs="20" class="logo padding-left-gt-xs-2">
            <span hide-xs show-gt-xs>GTU TECHFEST'17</span>
            <span hide-gt-xs show-xs>GTF17</span>
    </div>
    <div flex show-gt-xs>
    </div>

    <md-button hide-xs show-gt-xs ng-click="flayc.contact($event)" aria-label="description">
        <span >Contact Us</span>
    </md-button>

    <md-button flex-xs="15" hide-gt-xs show-xs ng-click="flayc.contact($event)" class="md-icon-button" layout="row" layout-align="center center" aria-label="sidenav">
        <ng-md-icon icon="contacts" class="title-icon" size="24"></ng-md-icon>
    </md-button>

    <md-button hide-xs show-gt-xs ng-click="flayc.logout()" flex-xs="15" aria-label="description">
        <span>Log out</span>
    </md-button>

    <md-button flex-xs="15" hide-gt-xs show-xs ng-click="flayc.logout()" class="md-icon-button" layout="row" layout-align="center center" aria-label="sidenav">
        <ng-md-icon icon="power_settings_new" class="title-icon" size="24"></ng-md-icon>
    </md-button>

</div>
