
<div class="margin-1" hide-gt-xs show-xs layout="row">
    <div flex></div>
    <md-button ng-click="mlayc.closeLeftSidenav()" flex-xs="15" hide-gt-xs show-xs class="md-icon-button" layout="row" layout-align="center center" aria-label="sidenav">
        <ng-md-icon style="fill:white" icon="close" class="title-icon" size="24"></ng-md-icon>
    </md-button>
</div>

<div class="margin-top-2 sidenav-container" layout="column" ng-click="mlayc.closeLeftSidenav()">

    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".dashboard">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="donut_large" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>DASHBOARD</p>
        </div>
    </md-button>

    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".verifyCoordinator">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="fingerprint" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>VERIFY CO-ORDINATORS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".addEvent">
        <div class="container-title" layout="row" layout-align="none center">
        <ng-md-icon icon="add_to_queue" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>ADD EVENTS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".showEvent">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="assignment" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>EVENTS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".eventRegistrations">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="beenhere" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>REGISTRATIONS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".colleges">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="business" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>COLLEGES</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".settings">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="settings" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>SETTINGS</p>
        </div>
    </md-button>
</div>
