<!--
<md-button class="md-icon-button" layout="row" layout-align="center center" md-no-ink="true" aria-label="toggle" ng-click="toggleOptions()">
    <ng-md-icon icon="{{caret}}" size="16" options='{"rotation" : "clockwise","duration":500, "easing" : "expo-in-out"}'></ng-md-icon>
</md-button>
-->

<div class="margin-top-2 sidenav-container" layout="column">

    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".verifyCoordinator">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="fingerprint" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>VERIFY CO-ORDINATORS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".addEvent">
        <div class="container-title" layout="row" layout-align="none center">
        <ng-md-icon icon="add_to_queue" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>ADD EVENTS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".showEvent">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="assignment" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>EVENTS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".guidelines">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="beenhere" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>REGISTRATIONS</p>
        </div>
    </md-button>
    <md-button class="margin-0 padding-0 text-capitalize"
    ui-sref-active="al-subOption-selected"
    ui-sref=".guidelines">
        <div class="container-title" layout="row" layout-align="none center">
            <ng-md-icon icon="settings" class="padding-lr-1 title-icon" size="20"></ng-md-icon>
            <p>SETTINGS</p>
        </div>
    </md-button>
</div>
