<div ng-init="Details=[{name:'ABC',facultycoordinator:'1234567890',code:'012',city:'Ahmedabad'}]">
  <ng-md-icon class="md-default-theme" icon="search" style="float:right;margin-right:140px;margin-top:10px;" ></ng-md-icon>
     <input type="text" name="searchbox" ng-model="searchbox" style="float:right;margin-right:10px;margin-top:10px;">
	  <h1 style="margin-left:140px;margin-top:50px;">Colleges</h1>

    <div layout="row"  ng-repeat="detail in Details">
      <div class="md-parents" layout="column" layout-align="center-center" layout-margin flex>
 <md-whiteframe class="md-whiteframe-9dp" layout-align="center center" style="width:80%">
   <md-content layout-padding>

  <div flex style="float:left;">
    <label>  Name :  </label><span>{{detail.name}}</span><br>
    <label>  Faculty Coordinator:</label><span>{{detail.facultycoordinator}}</span><br>
  </div>
  <div flex style="float:right; ">
    <label>Code:</label><span>{{detail.code}}</span><br>
    <label>City:</label><span>{{detail.city}}</span><br>

  </div>
 </md-content>
  </md-whiteframe>
</div>
</div>
</div>
