<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <script language="javascript">
         angular.module('firstApplication', ['ngMaterial'])
    </script>
  </head>
  <style type="">
  label
  {
    font-weight: bold;
  }

  </style>
 <body ng-app="firstApplication">
<div ng-init="Details=[{name:'ABC',facultycoordinator:'1234567890',code:'012',city:'Ahmedabad'}]">
  <md-icon class="md-default-theme" md-svg-icon="search.svg"style="float:right;margin-right:140px;margin-top:10px;"></md-icon>
     <input type="text" name="searchbox" ng-model="searchbox" style="float:right;margin-right:10px;margin-top:10px;">
	  <h1 style="margin-left:140px;margin-top:50px;">Colleges</h1>
    
    <div layout="row"  ng-repeat="detail in Details">
      <div class="md-parents" layout="column" layout-align="center-center" layout-margin flex>
 <md-whiteframe class="md-whiteframe-9dp" layout-align="center center" style="width:80%">
   <md-content layout-padding>

  <div flex style="float:left;">
    <label>  Name :  </label><span>{{detail.name}}</span><br>
    <label>  Faculty Coordinator:</label><span>{{detail.facultycoordinator}}</span><br>
  </div>
  <div flex style="float:right; ">
    <label>Code:</label><span>{{detail.code}}</span><br>
    <label>City:</label><span>{{detail.city}}</span><br>
    
  </div>
 </md-content>
  </md-whiteframe>
</div>
</div>
</body>
</html>
