<!DOCTYPE html>
<div class="margin-tb-gt-xs-4 margin-lr-gt-xs-2 bg-white margin-xs-1 padding-tb-3 padding-lr-xs-1 padding-lr-gt-xs-2 page" md-whiteframe="5">
    <div layout-gt-xs="row" layout-align-gt-xs="space-between center" layout-xs="column" >
              <md-card class="style1" md-theme-watch flex-xs="95" flex-gt-xs="45" ng-click="tdc.showAdvanced($event);">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline text-center ">Total Confirm Registration</span>
            <span class="text-center "><h1>{{ dc.confirmedCount }}</h1></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <!-- <md-card class="style1" md-theme-watch flex="25" theme="default">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline text-center">Collected Amount</span>
            <br/>
            <span class="text-center "><h1>&#8377; {{ dc.totalAmountCollected }}/-</h1></span>
          </md-card-title-text>
        </md-card-title>
      </md-card> -->
      <md-card class="style1" md-theme="dark-grey" md-theme-watch flex-xs="95" flex-gt-xs="45">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline text-center">Total Confirm Participants</span>
              <span class="text-center "><h1>{{ dc.totalConfirmedParticipants }}</h1></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <!-- <md-card class="style2" md-theme="dark-grey" md-theme-watch flex="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline text-center">Unconfirm Registration</span>
              <span class="text-center "><h1>{{ dc.unConfirmedCount }}</h1></span>
          </md-card-title-text>
        </md-card-title>
      </md-card> -->
    </div>
      <div layout="row">
      <md-button flex="50" ng-show="!detail.verified" ng-if="dc.VFSPath" href="{{dc.VFSPath}}" target="_self" class="md-raised md-primary margin-lr-1" md-no-ink="true">Export Verified Faculty Coordinators</md-button>
      <md-button flex="50" ng-show="!detail.verified" ng-if="dc.UVFPath" href="{{dc.UVFPath}}" target="_self" class="md-raised md-primary margin-lr-1" md-no-ink="true">Export Unverified Faculty Coordinators</md-button>
      <md-button ng-hide="true" flex="33" ng-show="!detail.verified" ng-click="" class="md-raised md-success margin-lr-1" md-no-ink="true">Export Participant List</md-button>
     <md-button ng-hide="true" flex="33" ng-show="!detail.verified" ng-click="" class="md-raised md-success margin-lr-1" md-no-ink="true">Export Unconfirmed Registrations</md-button>
      </div>
  </div>
  <!-- </div> -->
