   	<div ng-init="Details=[{name:'Galaxy Runner',verified:'50',unverified:'80',export:'link'},{name:'xyz',verified:'50',unverified:'80',export:'link'},{name:'abc',verified:'50',unverified:'80',export:'link'}]">
     <div class="margin-tb-gt-xs-4 margin-lr-gt-xs-2 bg-white margin-xs-1 padding-tb-3 padding-lr-xs-1 padding-lr-gt-xs-2 page" md-whiteframe="5">
       <div layout-gt-xs="row" layout-align-gt-xs="space-between center" layout-xs="column" >
           <h2>Registrations</h2>
           <md-input-container flex-gt-xs="30">
               <label>Search</label>
               <input class="margin-tb-xs-1" type="text" name="search" ng-model="search">
           </md-input-container>
       </div>
   <md-content>
    <table class="responsive-table padding-lr-gt-xs-3 padding-lr-xs-1 margin-tb-2">
          <tr>
          	<th>Event_Name</th>
          	<th>Verified</th>
          	<th>Non-Verified</th>
          	<th>Export_xls</th>
  		   </tr>
  		<tr>
  			<th class="th1">Event Section</th>
          </tr>
  		<tr ng-repeat="event in Details | filter: searchbox">
          <td>{{event.name}}</td>
  		    <td>{{event.verified}}</td>
  		    <td>{{event.unverified}}</td>
  		    <td>{{event.export}}</td>
  		</tr>
    </table>
  </md-content>
  </div>
  </div>
