<div class="margin-tb-gt-xs-4 margin-lr-gt-xs-2 bg-white margin-xs-1 padding-tb-3 padding-lr-xs-1 padding-lr-gt-xs-2 page" md-whiteframe="5">
    <h2 ng-show="$root.faculty.verified">Guidelines</h2>

    <div ng-hide="$root.faculty.verified" class="margin-top-3 nv-guid" layout="column" layout-align="center center">
        <p>Please Wait for Verification Call from GTU TECHFEST TEAM</p>
        <div layout="row" layout-align="center center">
            <img flex="40" src="/media/svg/call.svg" alt="">
        </div>
    </div>

    <div ng-show="$root.faculty.verified" class="margin-top-3 nv-guid padding-right-gt-xs-5 padding-left-gt-xs-3" layout="column" layout-align="center center">
        <ul class="">
            <ul>
<li>The faculty coordinator will bear the complete responsibility for handling the registration amount collected till its successful submission to the GTU.</li>
<li>Please read the Registration Manual thoroughly before starting the registration procedure to understand how to use the Registration Portal. Registration manual can be found in the Resource section of the Techfest portal.</li>
<li>The “Resources” section of the GTU Central Techfest Portal will contain the details in the form of the following files: -<ul> 
<li>Central Events:– Will contain details regarding the events, its team size and its event fees.</li>
<li>Registration Manual:– Will contain information regarding the process of registration confirmation of participating students/teams.</li> 
<li>SBI Manual Submission:- Details regarding the payment of registration fees to the GTU</li></ul>
<li>Faculty will be authenticated with a call from the Techfest Committee and faculty should duly cooperate during the process.</li>
<li>The password provided to the faculty coordinators should not be publicized and faculty coordinators will be responsible for any misuse of their accounts on the portal. </li>
<li>All students are eligible for registering to any of the Central Events.</li>
<li>Proper and student-friendly platform for registration at your institute must be provided. Special desks or room must be assigned for the registration procedure. </li>
<li>Proper promotion must be done to bring awareness about location of your desks/room among all the students of your institute.</li> 
<li>The students from nearby colleges can also be registered at your institute.</li> 
<li>Registrations will start from 14th of March and the faculty coordinators should immediately start accepting the registrations.</li>
<li>Students willing to register will provide their information through the online forms, after which a receipt will be generated. This information in this receipt will be used by the faculty coordinators to confirm the registration and collect the registration fees. </li>
<li>The registrations will end on 28th of March and faculty coordinators should submit the registration amount into the SBI Bank Portal by 7th April to GTU.Details regarding submission of Registration fees will be provided in the SBI manual in the resource section</li>
<li>The amount of registration is not refundable and once the registration is confirmed by the faculty coordinator through the portal, no request for changes will be entertained.</li>
<li>Certificates will be presented to the faculty and student coordinators for GTU Central Techfest. The details on the certificates will be the same as the details provided during registration of the coordinators and no changes will be made.</li>
<li>Registered Students will be provided with Participation Certificate with pre-printed names as entered in the Registration Form issued by GTU in the name of GTU Central TechFest on 31th March, 2017 at their respective events.</li> 

<li>The Registration Fees of events in the Robotics section is Rs. 250 irrespective of the number of students in the team while for all other events, the Registration Fees should amount equivalent to Rs. 50 per student. </li>

<table>
	<tr>
		<th>Sr. No.</th>
		<th>Event Name</th>
		<th>Team Size</th>
		<th>Fees</th>
	</tr>
	<tr>
		<th>1</th>
		<th>Warcraft</th>
		<th>4</th>
		<th>Rs. 250</th>
	</tr>
	<tr>
		<th>2</th>
		<th>Warcraft</th>
		<th>3</th>
		<th>Rs. 250</th>
	</tr>
	<tr>
		<th>3</th>
		<th>Junkyard Wars</th>
		<th>4</th>
		<th>Rs. 200</th>
	</tr>
	<tr>
		<th>4</th>
		<th>Junkyard Wars</th>
		<th>3</th>
		<th>Rs. 150</th>
	</tr>
</table>

<li>The registrations for Technical Events (except ATV Championship and Quad Squad) and Quizzes should be accepted by the faculty coordinators. Registrations for other events and symposiums should not be accepted by faculty coordinators.</li>

<li>The Team Size of the team intending to register should not exceed the Maximum Team Size provided in the Central Events.pdf </li>

<li>The winners of the Zonal GTUTechFest 2017 will be given free entry in the second round of the Central Events. Their entry should not be made in the Registration portal.</li>
<li>In TechExpo, zonal winners of the project exhibition will not get direct entry. Students should register again and will go through a strict selection process to get a place at the Central Techfest TechExpo.</li>


        </ul>
    </div>


</div>
