<div class="margin-tb-gt-xs-4 margin-lr-gt-xs-2 bg-white margin-xs-1 padding-tb-3 padding-lr-xs-1 padding-lr-gt-xs-2 page" md-whiteframe="5">
    <h2 ng-show="$root.faculty.verified">Guidelines</h2>

    <div ng-hide="$root.faculty.verified" class="margin-top-3 nv-guid" layout="column" layout-align="center center">
        <p>Please Wait for Verification Call from GTU TECHFEST TEAM</p>
        <div layout="row" layout-align="center center">
            <img flex="40" src="/media/svg/call.svg" alt="">
        </div>
    </div>

    <div ng-show="$root.faculty.verified" class="margin-top-3 nv-guid padding-right-gt-xs-5 padding-left-gt-xs-3" layout="column" layout-align="center center">
        <ul class="">
            <li>Please read the <a href="#">Registration Sheet Manual</a> thoroughly before starting the registration procedure to understand how to use the portal</li>
            <li>The registrations for Technical Events (except ATV Championship and Quad Squad) and Quizzes should be accepted by the faculty coordinators. Registrations for other events and symposiums should not be accepted by faculty coordinators.</li>
            <li>The faculty coordinator will bear the complete responsibility for handling the registration amount collected till its successful submission to the GTU.</li>
            <li>Please read the Registration Manual thoroughly before starting the registration procedure to understand how to use the Registration Portal. Registration manual can be found in the Resource section of the Techfest portal.</li>
            <li>The “Resources” section of the GTU Central Techfest Portal will contain the details in the form of certain files which are: -
                <ul>
                    <li>Central Events:– Will contain details regarding the events, its team size and its event fees.</li>
                    <li>Registration Manual:– Will contain information regarding the process of registration confirmation of participating students/teams.</li>
                    <li>SBI Manual Submission:-Details regarding the payment of registration fees to the GTU.</li>
                </ul>
            </li>
            <li>Faculty will be authenticated with a call from the Techfest Committee and faculty should duly cooperate during the process.</li>
            <li>The password provided to the faculty coordinators should not be publicized and faculty coordinators will be responsible for any misuse of their accounts on the portal.</li>
            <li>All students are eligible for registering to any of the Central Events.</li>
            <li>Proper and student-friendly platform for registration at your institute must be provided. Special desks or room must be assigned for the registration procedure.</li>
            <li>Proper and student-friendly platform for registration at your institute must be provided. Special desks or room must be assigned for the registration procedure.</li>
        </ul>
    </div>


</div>
