<!DOCTYPE html>
<div class="margin-tb-2 padding-tb-3 padding-lr-2 page" md-whiteframe="5">
  <div layout="row">
    <md-card md-theme="dark-grey" md-theme-watch flex="25" ng-click="tdc.showAdvanced($event);">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline text-center">Faculty Coordinator Details</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card md-theme="dark-grey" md-theme-watch flex="25">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline text-center">Register For Event</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card md-theme="dark-grey" md-theme-watch flex="25">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline text-center">Download Slip</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card md-theme="dark-grey" md-theme-watch flex="25">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline text-center">One Time Edit</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </div>
</div>
