<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email</title>
        <style media="screen">
            body{
                width: 100%;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>GTU TECHFEST '17</h1>

        <h3>Subject: <span style="color:#F44336">Forgot Password Reset</span></h3>

        <p style="margin-top:20px">
            Hi {{data.name}},
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You Requested for your password change. To reset your password please click <a href="{{data.link}}" target="_blank">here </a>
            <br><br>
            Thanking you,<br>
            GTU TECHFEST TEAM
        </p>

        <p style="text-align:center"> <strong>Follow us on</strong><br>
            <a href="https://facebook.com/gtutechfest">FB</a>
            <a href="https://youtube.com/gtutechfest">YT</a>
            <a href="https://instagram.com/gtutechfest">IG</a>
        </p>
    </body>
</html>
