<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email</title>
        <style media="screen">
            body{
                width: 100%;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>GTU TECHFEST '17</h1>

        <h3>Subject: <span style="color:#F44336">Confirmation of your registration.</span></h3>

        <p style="margin-top:20px">
            Hi {{data.team_leader.name}},
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Registration for your {{data.event_name}} is been confirmed by {{data.faculty_name}}. You'll receive a final confirmation receipt of respective event after 23rd March 2017, till then you can edit your other participants information for one time.
            <br><br>
            To Edit other participants information <a href="#" target="_blank">click here</a>.
            <br><br>
            Thanking you,<br>
            GTU TECHFEST TEAM
        </p>

        <p style="text-align:center"> <strong>Follow us on</strong><br>
            <a href="https://facebook.com/gtutechfest">FB</a>
            <a href="https://youtube.com/gtutechfest">YT</a>
            <a href="https://instagram.com/gtutechfest">IG</a>
        </p>
    </body>
</html>
