.initial_search_bar{
	margin-top: 10%;
	margin-bottom: 10%;
}
.progress_bar{
	height: 20px;
	width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
}
.progress_bar_uploaded{
	height: 20px;
    background-color: green;
}